<div
  class="modal fade"
  #modalDiag
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{status}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closebutton
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter <b>{{status}}</b> Message</label>
            <textarea #statusMessage class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button
          type="button"
          (click)="onConfirm(statusMessage)"
          class="btn btn-primary"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
<!-- data-bs-dismiss="modal" -->
