<div class="card my-5 p-2">
  <div class="card-header">Featured</div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <table class="table table-bordered table-striped table-hover text-center">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Name</th>
          <th scope="col">Gmail</th>
          <th scope="col">Phone No</th>
          <th scope="col">Company Name</th>
          <th scope="col">Create Date</th>
          <th scope="col">LastModify Date</th>
          <th scope="col">Status</th>
          <th scope="col">Denied</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let approval of approvalResponseModal; index as i">
          <th
            scope="row"
            [routerLink]="['/details/pending/' + approval.status.statusId]"
          >
            {{ i + 1 }}
          </th>
          <td [routerLink]="['/details/approval/' + approval.status.statusId]">
            {{ approval.name }}
          </td>
          <td [routerLink]="['/details/approval/' + approval.status.statusId]">
            {{ approval.gmail }}
          </td>
          <td [routerLink]="['/details/approval/' + approval.status.statusId]">
            {{ approval.phoneNo }}
          </td>
          <td [routerLink]="['/details/approval/' + approval.status.statusId]">
            {{ approval.companyName }}
          </td>
          <td [routerLink]="['/details/approval/' + approval.status.statusId]">
            {{ approval.createdOn }}
          </td>
          <td [routerLink]="['/details/approval/' + approval.status.statusId]">
            {{ approval.updateOn }}
          </td>
          <td>
            <span class="badge rounded-pill bg-success">{{
              approval.status.status
            }}</span>
          </td>
          <td>
            <button
              type="button"
              #dendlbtn
              (click)="handleDenied(i, approval.status.statusId)"
              class="btn btn-danger"
            >
              Denied
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-status-dialog-box [approvalBtnElementRef]="btnElementRef"></app-status-dialog-box>
